@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p></p>
<input id="specializations" style="width: 40%;" />
<p></p>
<input id="doctor" style="width: 40%;" />
<p></p>
<select id="services" multiple="multiple" style="width: 40%;"></select>
<p></p>
<input id="datepicker" title="datepicker" style="width: 40%" />
<p></p>
<input id="talons" style="width: 40%;" />
<p></p>
<button id="textButton">Заказать</button>

<script>
    $("#specializations").kendoDropDownList({
        dataTextField: "specializationName",
        dataValueField: "id",
        optionLabel: "Выберите направление...",
        height: 500,
        change: onSpecializationChange,
        dataSource: {
            transport: {
                read: {
                    url: "@Url.Action("GetAllSpecializations", "Admin")",
                    dataType: "json",
                    cache: false,
                }
            }
        }
    });

    $("#doctor").kendoDropDownList({
        dataTextField: "fullName",
        dataValueField: "id",
        optionLabel: "Выберите врача...",
        cascadeFrom: "specializations",
        autoBind: false,
        height: 500,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: "@Url.Action("GetDoctorsBySpecializationId", "Appointment")",
                    data: function () {
                        return {
                            id: $("#specializations").data("kendoDropDownList").value(),
                        };
                    }
                }
            }
        }
    });

    $("#services").kendoMultiSelect({
        dataTextField: "getService",
        dataValueField: "id",
        cascadeFrom: "specializations",
        autoBind: false,
        dataSource: {
            serverFiltering: true,
            transport: {
                read: {
                    url: "@Url.Action("GetServicesBySpecializationId", "Appointment")",
                    data: function () {
                        return {
                            id: $("#specializations").data("kendoDropDownList").value(),
                        };
                    }
                }
            }
        }
    });

    function onSpecializationChange() {
        $("#services").data("kendoMultiSelect").dataSource.read();
        $("#services").data("kendoMultiSelect").value("");
    }

    $("#datepicker").kendoDatePicker({
        change: function (e) {
            $("#talons").data("kendoDropDownList").dataSource.read();
        }
    })

        $("#talons").kendoDropDownList({
            dataTextField: "getDate",
            dataValueField: "id",
            optionLabel: "Выберите талон",
            cascadeFrom: "datepicker",
            autoBind: false,
            height: 500,
            dataSource: {
                serverFiltering: true,
                transport: {
                    read: {
                        url: "@Url.Action("GetTalonsByDoctorDate", "Appointment")",
                        data: function () {
                            var datapicker = $("#datepicker").data("kendoDatePicker").value();
                            var t = kendo.toString(datapicker, "dd/MM/yyyy");
                            return {
                                doctor: $("#doctor").data("kendoDropDownList").value(),
                                talon1: kendo.toString(datapicker, "dd/MM/yyyy")
                            };
                        }
                    }

                }
            }
        });

    $("#textButton").kendoButton({
        click: function (e) {
            var doctorId = $("#doctor").data("kendoDropDownList").value();
            var talons = $("#talons").data("kendoDropDownList").value();
            var services = $("#services").data("kendoMultiSelect").value();
            var userId = "@User.Claims.ElementAt(0).Value";
            var buildUrl = "@Url.Action("AddAppointment", "Appointment")" + `/?userId=${userId}&doctorId=${doctorId}&ticketId=${talons}`;
            $.ajax({
                type: "POST",
                url: buildUrl,
                data: { serviceIds: services},
                success: function (response) {
                    alert(response);
                },
            });
        }
    });
</script>
