@model List<AdiPlus.ViewModels.AppointmentViewModel>

<p>Активные талоны</p>
@foreach (var item in Model)
{
    if (item.DateStart > DateTime.Now)
    {
        <h4>Время: <a class="text-primary">@item.DateStart</a> <br/> 
            Специальность: <a class="text-primary">@item.Doctor.Specialization.SpecializationName</a> <br/>
            Доктор: <a class="text-primary">@item.Doctor.Name @item.Doctor.Surname @item.Doctor.LastName </a>  <br/>
        </h4>
        <a class="btn btn-outline-info" asp-area="" asp-controller="Appointment" asp-route-appointmentId="@item.Id" asp-action="AppointmentInfo">Подробнее</a>
        <a class="btn btn-outline-danger" asp-area="" asp-controller="Appointment" asp-route-appointmentId="@item.Id" asp-action="CancelAppointment">Отменить</a>
        <br/>
        <br/>
    }
}

<p>История талонов</p>
@foreach (var item in Model)
{
    if (item.DateStart < DateTime.Now)
    {
        <h4>Время: <a class="text-primary">@item.DateStart</a> <br/> 
                    Специальность: <a class="text-primary">@item.Doctor.Specialization.SpecializationName</a> <br/>
                    Доктор: <a class="text-primary">@item.Doctor.Name @item.Doctor.Surname @item.Doctor.LastName</a>  <br/>
                </h4>
                <a class="btn btn-outline-info" asp-area="" asp-controller="Appointment" asp-route-appointmentId="@item.Id" asp-action="AppointmentInfo">Подробнее</a>
                <br/>
                <br/>
    }
}
